@model IEnumerable<ProductModel>
@{
    string url = Convert.ToString(ViewBag.Url);
}

<section class="featured-product ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading-part align-center">
                    <h2 class="main_title heading">Bán chạy nhất</h2>
                </div>
            </div>
        </div>
        <div class="pro_cat product-listing grid-type">
            <div class="row mlr_-20">
                <div class="owl-carousel best-seller-pro">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="product-item mb-20">
                                <div class="product-item-inner">
                                    <div class="product-image">
                                        <a asp-route-id="@item.Id"
                                           asp-route-catid="@item.ProductCategoryId"
                                           asp-route-title="@item.Title.UrlEncode()"
                                           asp-route="product-detail">
                                            <img alt="@item.Title" src="@item.Thumb.ToImage(url)">
                                        </a>
                                        <div class="product-detail-inner">
                                            <div class="detail-inner-left align-center">
                                                <ul>
                                                    <li class="pro-cart-icon">
                                                        <a asp-route="addcart" title="Thêm vào giỏ hàng"
                                                           asp-route-productid="@item.Id"><i class="icofont-cart"></i><span></span></a>
                                                    </li>
                                                    <li class="pro-wishlist-icon">
                                                        @if (item.IsWishlist)
                                                        {

                                                            <a title="Bỏ yêu thích" onclick="DeleteWishlist(@item.Id)">
                                                                <span></span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a title="yêu thích" onclick="Wishlist(@item.Id)">
                                                                <span></span>
                                                            </a>
                                                        }

                                                    </li>
                                                    @*<li class="pro-compare-icon">
                                                            <a title="Compare" href="compare.html">
                                                                <span></span>
                                                            </a>
                                                        </li>*@
                                                    <li class="pro-quickview-icon">
                                                        <a title="Quick View" onclick="getview(@item.Id)" class="popup-with-product">
                                                            <span></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item-details">
                                        <div class="product-item-name">
                                            <a asp-route-id="@item.Id"
                                               asp-route-catid="@item.ProductCategoryId"
                                               asp-route-title="@item.Title.UrlEncode()"
                                               asp-route="product-detail">
                                                @item.Title
                                            </a>
                                        </div>
                                        <div class="rating-summary-block">
                                            @if (item.ValueAssess.HasValue)
                                            {
                                                var rating = Math.Round((item.ValueAssess.Value / 5) * 100);
                                                <div title="@rating%" class="rating-result">
                                                    <span style="width:@rating%"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div title="0%" class="rating-result">
                                                    <span style="width:0%"></span>
                                                </div>
                                            }

                                        </div>
                                        <div class="price-box">
                                            <span class="price">@item.Price.ToCurrency()</span>
                                            @if (item.OldPrice.HasValue && item.OldPrice > 0)
                                            {

                                                <del class="price old-price">@item.OldPrice.ToCurrency()</del>
                                            }
                                        </div>
                                        <div class="product-des">
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>